<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancel Notice</title>
  </head>
  <body>
    <main class="mt-8">
      <p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
        予約がキャンセルされました。
      </p>
      <li><strong>予約参照番号:</strong> {{ reference_number }}</li>
      <li><strong>利用開始日:</strong> {{ start_time }}</li>
      <li><strong>利用終了日:</strong> {{ end_time }}</li>
    </main>
  </body>
</html>
