<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      class="max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900"
    ></section>
    <!-- <header>
      <a href="#">
        <img
          class="w-auto h-7 sm:h-8"
          src="https://merakiui.com/images/full-logo.svg"
          alt=""
        />
      </a>
    </header> -->

    <main class="mt-8">
      <p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
        予約リクエストが届きました。
      </p>

      <li><strong>名前:</strong> {{ name }}</li>
      <li><strong>メールアドレス:</strong> {{ email }}</li>
      <li><strong>利用開始日:</strong> {{ start_time }}</li>
      <li><strong>利用終了日:</strong> {{ end_time }}</li>
    </main>

    <!-- <footer class="mt-8">
      <p class="text-gray-500 dark:text-gray-400">
        This email was sent to
        <a
          href="#"
          class="text-blue-600 hover:underline dark:text-blue-400"
          target="_blank"
          >contact@merakiui.com</a
        >. If you'd rather not receive this kind of email, you can
        <a href="#" class="text-blue-600 hover:underline dark:text-blue-400"
          >unsubscribe</a
        >
        or
        <a href="#" class="text-blue-600 hover:underline dark:text-blue-400"
          >manage your email preferences</a
        >.
      </p>
    </footer> -->
  </body>
</html>
